$text-sm : 1.3rem;
$text-md : 1.5rem;
$text-4xl : 3.6rem;
$text-lg : 1.8rem;
$color-primary : #FF4A52;
$color-black : #0000;
$color-white : #ffffff;
$color-secondary : #8D9199;
$font-primary : poppins;