.offcanvas-wrapper {
    position: fixed;
    inset: 0;
    background-color: #ffffff81;
    width: 100vw;
    height: 100vh;
    display: none;
    &.open {
        display: block;
    }
}
.offcanvas-content {
    max-width: 360px;
    width: 100%;
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (max-width: 62.8rem) {
    .offcanvas-content{
        max-width: 270px;
    }
}